* {
  box-sizing: border-box;
}

body,
html {
  font-family: 'Quicksand', sans-serif;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  margin: 0;
  padding: 0;
  color: white;
  letter-spacing: 2px;
  list-style-type: none;
  text-decoration: none;
}

html,
body,
#app,
#app > div {
  height: 100%;
}

#light {
  width: 100vw;
  height: 100vh;
  background: radial-gradient(circle, #033c41 0%, #2a3b41 100%);
  overflow: auto;
  margin: 0;
  padding: 0;
  color: white;
  letter-spacing: 2px;
  list-style-type: none;
  text-decoration: none;
}

#dark {
  width: 100vw;
  height: 100vh;
  background: radial-gradient(circle, black 0%, #2a3b41 100%);
  overflow: auto;
  margin: 0;
  padding: 0;
  color: white;
  letter-spacing: 2px;
  list-style-type: none;
  text-decoration: none;
}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
