* {
  box-sizing: border-box;
}

body {
  font-family: 'Quicksand', sans-serif;
  /* background: #033c41; */
  background: radial-gradient(
    circle,
    #033c41 0%,
    #2a3b41 100%
  );
  overflow: auto;
  margin: 0;
  padding: 0;
  color: white;
  letter-spacing: 2px;
  list-style-type: none;
  text-decoration: none;
  margin-bottom: 10rem;

}
