* {
  box-sizing: border-box;
}


body {
  font-family: 'Quicksand', sans-serif;
  background: rgb(3, 60, 65);
  background: radial-gradient(
    circle,
    rgb(3, 60, 65, 1) 0%,
    rgb(42, 59, 65) 100%
  );
  overflow: auto;
  margin: 0;
  padding: 0;
  color: white;
  letter-spacing: 2px;
  list-style-type: none;
  text-decoration: none;

}
